body {
    background-color: #008081;
    font-family: sans-serif;
    font-size: 13px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    position: absolute;
    visibility: hidden;
}

.inner-object {
    border: #DAF0F0 solid 2px;
    border-top: #282626 solid 2px;
    border-left: #282626 solid 2px;
}

.outter-object {
    border: #DAF0F0 solid 2px;
    border-bottom: #282626 solid 2px;
    border-right: #282626 solid 2px;
}

.button {
    display: block;
    margin-bottom: 5px;
    padding: 5px;

    text-align: center;
    text-decoration: none;
    color: 0;
}

.button:hover {
    cursor: default;
}

.button:active {
    cursor: default;
    border: #DAF0F0 solid 2px;
    border-top: #282626 solid 2px;
    border-left: #282626 solid 2px;
}

.inline-button {
    display: inline;
}

.big-button {
    display: inline-block;
    padding: 30px;
    font-size: 16px;
}

.window-style {
    display: block;
    background-color: #C0C0C0;
    padding: 2px;
}

.window-style > header {
    background-color: #010081;
    padding: 3px;

    font-weight: bold;
    color: #DADAEB;
}

.window-style > section {
    padding: 10px;
    margin-bottom: 10px;
}

.dialog-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: #282626;
    opacity: 0.5;
}

.dialog {
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
    
    width: 340px;
    height: 150px;

    margin: auto;
}

.results {
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
    
    width: 400px;
    height: 300px;
}

.results-box {
    padding: 5px;
    background-color: #FFFFFF;
    height: 150px;
    overflow-y: auto;
}

.results-good {
    color: green;
}

.results-bad {
    color: darkred;
}

.button-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
}

.people-list {
    display: block;
    width: 140px;
    height: 250px;
    padding: 0;
    margin: 0;
    background-color: white;
    overflow-y: auto;
}

.people-list li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.people-list li a {
    border: #FFFFFF dotted 1px;
    text-decoration: none;
    display: block;
    padding: 3px;
    margin: 0px;
    color: #282626;
}

.people-list li :focus {
    border: #282626 dotted 1px;
}

.people-list li :hover {
    cursor: default;
    background-color: #010081;
    color: #C0C0C0;
}

.people-detail {
    position: relative;
    width: 280px;
    height: 230px;
    padding: 10px;
    background-color: white;
}

.people-detail h1 {
    margin-top: 5px;
    margin-bottom: 2px;
}

.people-detail > article {
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 30px;
    font-family: serif;
    font-size: 16px;
    font-style: italic;
}

.div-quote-open {
    position: absolute;
    left: 10px;
    top: 50px;
    font-size: 60px;
    font-family: serif;
}

.div-quote-close {
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 60px;
    font-family: serif;
}

.date-list li {
    padding: 5px;
    margin: 0;
}

.date-list li p {
    margin: 0;
}

.date-list li progress::-moz-progress-bar { background: #010081; }
.date-list li progress::-webkit-progress-bar { background: #C0C0C0; }
.date-list li progress::-webkit-progress-value { background: #010081; }
.date-list li progress {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 20px;

    background-color: #C0C0C0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
    margin-right: 5px;
}

.float-left-last {
    float: left;
}

.separator {
    border: #DAF0F0 solid 1px;
    border-top: #282626 solid 1px;
    border-left: #282626 solid 1px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

#dateArea {
    overflow: auto;
}

#dateList {
    width: 250px;
    height: 150px;
    overflow-y: auto;
}

#peopleArea {
    overflow: auto;
}

#gameDiv {
    width: 932px;
    height: 500px;
}

#taskbar {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    box-sizing: border-box;
    background-color: #C0C0C0;
    border: #DAF0F0 solid 2px;
    border-right: #282626 solid 2px;
    border-bottom: 0;
}

#taskbar > p {
    margin: 5px;
}
