body {
    background-color: #008081;
    font-family: sans-serif;
    font-size: 13px;
}

.window-style {
    display: block;
    background-color: #C0C0C0;
    padding: 2px;
    
    border: #DAF0F0 solid 2px;
    border-bottom: #282626 solid 2px;
    border-right: #282626 solid 2px;
}

.window-style > header {
    background-color: #010081;
    padding: 3px;

    font-weight: bold;
    color: #DADAEB;
}

.window-style > article {
    padding: 10px;
}

.people-list {
    width: 150px;
    padding: 5px;
    background-color: white;

    border: #DAF0F0 solid 2px;
    border-top: #282626 solid 2px;
    border-left: #282626 solid 2px;
}

.people-list li {
    width: 100%;
    border: #FFFFFF dotted 1px;
    list-style-type: none;
    padding: 3px;
    margin: 0px;
}

.people-list li a {
    display: block;
    width: 100%;
    padding: 3px;
    margin: 0px;
}

.people-list li :active {
    border: #282626 dotted 1px;
}

.people-list li :hover {
    background-color: #010081;
    color: #C0C0C0;
}

#gameDiv {
    width: 600px;
    height: 400px;
}

#taskbar {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    box-sizing: border-box;
    background-color: #C0C0C0;
    border: #DAF0F0 solid 2px;
    border-right: #282626 solid 2px;
    border-bottom: 0;
}

#taskbar > p {
    margin: 5px;
}
