body {
    background-color: #008081;
    font-family: sans-serif;
    font-size: 13px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.window-style {
    display: block;
    background-color: #C0C0C0;
    padding: 2px;
    
    border: #DAF0F0 solid 2px;
    border-bottom: #282626 solid 2px;
    border-right: #282626 solid 2px;
}

.window-style > header {
    background-color: #010081;
    padding: 3px;

    font-weight: bold;
    color: #DADAEB;
}

.window-style > article {
    padding: 10px;
}

.people-list {
    display: block;
    width: 120px;
    height: 250px;
    padding: 0;
    margin: 0;
    background-color: white;

    border: #DAF0F0 solid 2px;
    border-top: #282626 solid 2px;
    border-left: #282626 solid 2px;
}

.people-list li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.people-list li a {
    border: #FFFFFF dotted 1px;
    text-decoration: none;
    display: block;
    padding: 3px;
    margin: 0px;
}

.people-list li :focus {
    border: #282626 dotted 1px;
}

.people-list li :hover {
    background-color: #010081;
    color: #C0C0C0;
}

.people-detail {
    width: 300px;
    height: 230px;
    padding: 10px;
    background-color: white;

    border: #DAF0F0 solid 2px;
    border-top: #282626 solid 2px;
    border-left: #282626 solid 2px;
}

.float-left {
    float: left;
    margin-right: 5px;
}

.float-left-last {
    float: left;
}

.separator {
    border: #FFFFFF solid 1px;
}

#peopleArea {
    overflow: auto;
}

#gameDiv {
    width: 933px;
    height: 400px;
}

#taskbar {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    box-sizing: border-box;
    background-color: #C0C0C0;
    border: #DAF0F0 solid 2px;
    border-right: #282626 solid 2px;
    border-bottom: 0;
}

#taskbar > p {
    margin: 5px;
}
